
        a {
            font-size: 12px;
            text-transform: uppercase;
        }
        body {
            padding: 0px;
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #home img {
            width: 15px;
            height: 15px;
        }

        #home {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
           
        }

        #home>div {
            display: flex;

            height: 40px;
            justify-content: start;
            align-items: center;
            font-size: 10px;

        }

        #home a {
            text-decoration: none;
            color: black;
        }

        a {
            text-decoration: none;
        }

        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        img{
            width:20px;
            }
            #nav{
                position: static;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            display: flex;
            justify-content: space-between;
            height: 70px;
            }
            #nav>div{
               
            margin-right:20px ;
            display: flex;  
            align-items: center;
            
            }
            #nav>h1{
            font-size: 30px;
             margin-left:152px ;
             color: rgb(1, 1, 1);
            
            }
            #nav>div>div{
              
            display: flex;
            align-items: center;
            margin-left: 20px;
            height: 50px;
            
            }
            #nav>:nth-child(1)>img{
            width:100%;
            height: 70px;
            
            }
            .lgn,
            .sgn {
                color: black;
            }
    
            .sgn:hover,
            .lgn:hover {
                text-decoration: underline;
            }
    
            #nav {
                position: sticky;
                top:-9px;
                background: #fff;
            }
            .checked{
                padding: 0px 0px 0px 0px;
            }
            
#feature-bar-white>a{
    text-decoration: none;

    text-align: center;
    color: black;
    font-size: 10px;
  }
  #feature-bar-white{
      display: grid;
      grid-template-columns: repeat(8,1fr);
      width: 90%;
      margin: auto;
      margin-top: 10px;
  }
  body {
    margin: 0px;
}



a {
    font-size: 12px;
    text-transform: uppercase;
}

.nav-area {
    background: gray
}

.nav-area:after {
    content: '';
    clear: both;
    display: block;
}

.nav-area ul {
    list-style: none;
    margin: 0;
}

.nav-area>ul>li {
    float: left;
    position: relative;
}

.nav-area ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 25px 15px 30px;
    display: block;
}

.nav-area ul li:hover a {
    background: rgba(0, 0, 0, 0.557)
}

.nav-area ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}

.nav-area ul li:hover>ul {
    display: block;
}

.nav-area ul ul li:hover a {
    background: rgba(0, 0, 0, 0.351);
}

.nav-area ul ul li {
    position: relative;
}

.nav-area ul ul ul {
    top: 0;
    left: 100%;
}

.nav-area ul ul ul li:hover a {
    background: #34495e;
}
#Cartcount{
    margin-left:40px ;
    font-size: 30px;
}
    