/* nav */

a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
width:20px;
}
#nav{
position: static;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
display: flex;
justify-content: space-between;
height: 70px;
}
#nav>div{
   
margin-right:20px ;
display: flex;  
align-items: center;

}
#nav>h1{
font-size: 30px;
 margin-left:152px ;
 color: rgb(1, 1, 1);

}
#nav>div>div{
  
display: flex;
align-items: center;
margin-left: 20px;
height: 50px;

}
#nav>:nth-child(1)>img{
width:100%;
height: 70px;

}

/* //features */

#feature-bar-white>a{
    text-decoration: none;

    text-align: center;
    color: black;
    font-size: 10px;
  }
  #feature-bar-white{
      display: grid;
      grid-template-columns: repeat(8,1fr);
      width: 90%;
      margin: auto;
      margin-top: 10px;
  }
  body {
    margin: 0px;
}



a {
    font-size: 12px;
    text-transform: uppercase;
}

.nav-area {
    background: gray
}

.nav-area:after {
    content: '';
    clear: both;
    display: block;
}

.nav-area ul {
    list-style: none;
    margin: 0;
}

.nav-area>ul>li {
    float: left;
    position: relative;
}

.nav-area ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 25px 15px 30px;
    display: block;
}

.nav-area ul li:hover a {
    background: rgba(0, 0, 0, 0.557)
}

.nav-area ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}

.nav-area ul li:hover>ul {
    display: block;
}

.nav-area ul ul li:hover a {
    background: rgba(0, 0, 0, 0.351);
}

.nav-area ul ul li {
    position: relative;
}

.nav-area ul ul ul {
    top: 0;
    left: 100%;
}

.nav-area ul ul ul li:hover a {
    background: #34495e;
}


/* HOME PAGE */
#bacgroundimages1 {

    height: 500px;
    width: 100%;
    background-image: url('https://cb.scene7.com/is/image/Crate/cb_dHP_20230111_HeroV2?wid=1440&qlt=80&op_sharpen=1');
}

#bacgroundimages1>div {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#bacgroundimages1 button {
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.367);
    color: white;
    border: none;
    border-radius: 7px;
}
#bacgroundimages1 a{
    color: white;
}
#bacgroundimages2>div {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-right: 0px;
}

#bacgroundimages2 button {
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.367);
    color: white;
    border: none;
    border-radius: 7px;
    
}
#bacgroundimages2 a{
    color: white;
    text-align: center;
}

#bacgroundimages2 {
    height: 800px;
    width: 100%;
    background-image: url('//cb.scene7.com/is/image/Crate/cb_dHP_20230110_Electrics?wid=1440&amp;qlt=90&amp;op_sharpen=1');
}

#bacgroundimages3 {
    width: 100%;
}

#bacgroundimages3>video {
    width: 100%;
}

/* faq */
#FAQ{
       
    background: #333;
}
#CONATAINER-1{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    width: 80%;
    margin: auto;
    font-size: 10px;
    gap: 10px;
    text-align: start;
    padding-top: 10px;
}
#CONATAINER-1 img{
    width: 20%;
}
#CONATAINER-2{
  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    width: 80%;
    margin: auto;
    font-size: 10px;
    gap: 10px;
    text-align:start;
    
}
#CONTAINER-2>div{
    font-weight: 4px;
}
#CONATAINER-2 img{
    width: 60%;
}
#FAQ{
    margin: 0px;
}