
        body {
            padding: 0px;
            margin: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #home img {
            width: 15px;
            height: 15px;
        }

        #home {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
           
        }

        #home>div {
            display: flex;

            height: 40px;
            justify-content: start;
            align-items: center;
            font-size: 10px;

        }

        #home a {
            text-decoration: none;
            color: black;
        }

        a {
            text-decoration: none;
        }

        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        img{
            width:20px;
            }
            #nav{
                position: static;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            display: flex;
            justify-content: space-between;
            height: 70px;
            }
            #nav>div{
               
            margin-right:20px ;
            display: flex;  
            align-items: center;
            
            }
            #nav>h1{
            font-size: 30px;
             margin-left:152px ;
             color: rgb(1, 1, 1);
            
            }
            #nav>div>div{
              
            display: flex;
            align-items: center;
            margin-left: 20px;
            height: 50px;
            
            }
            #nav>:nth-child(1)>img{
            width:100%;
            height: 70px;
            
            }
        /* //features */

        #feature-bar-white>a {
            text-decoration: none;

            text-align: center;
            color: black;
            font-size: 10px;
        }

        #feature-bar-white {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            width: 90%;
            margin: auto;
            margin-top: 10px;
        }

        body {
            margin: 0px;
        }



        a {
            font-size: 12px;
            text-transform: uppercase;
        }

        .nav-area {
            background: gray
        }

        .nav-area:after {
            content: '';
            clear: both;
            display: block;
        }

        .nav-area ul {
            list-style: none;
            margin: 0;
        }

        .nav-area>ul>li {
            float: left;
            position: relative;
        }

        .nav-area ul li a {
            text-decoration: none;
            color: #fff;
            padding: 15px 25px 15px 30px;
            display: block;
        }

        .nav-area ul li:hover a {
            background: rgba(0, 0, 0, 0.557)
        }

        .nav-area ul ul {
            position: absolute;
            padding: 0;
            min-width: 160px;
            display: none;
            top: 100%;
            left: 0;
        }

        .nav-area ul li:hover>ul {
            display: block;
        }

        .nav-area ul ul li:hover a {
            background: rgba(0, 0, 0, 0.351);
        }

        .nav-area ul ul li {
            position: relative;
        }

        .nav-area ul ul ul {
            top: 0;
            left: 100%;
        }

        .nav-area ul ul ul li:hover a {
            background: #34495e;
        }

        #dicription {
            margin: auto;
            font-size: 12px;
            text-align: center;
        }

        #Furniture-img {
            display: grid;
            grid-template-columns: repeat(5, 15%);
            gap: 10px;
        }

        #Furniture-img>div {
            display: flex;
            text-align: center;

            background-color: #f4f4f4;
        }

        #Furniture-img>div>img {
            width: 50%;
            height: 40px;
            display: block;
            padding-top: 20px;


        }

        #Furniture-img>div>h5 {
            width: 50%;
        }

        #sort {
          height: 20px;
            font-size: 12px;
            border-radius: 6px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #Sorting input {

            font-size: 12px;
            border-radius: 6px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: 2px solid rgba(128, 128, 128, 0.257);
           
        }

        #Sorting {
            display: flex;
           margin-right:20px ;
           margin-left:20px ;
            justify-content: space-between;
         
        }
        #Sorting>div {
            display: flex;
          align-items: center;
          margin-bottom:20px ;
        }
        #Sorting h5,form,select,a{
            padding-right: 5px;
        }
        #container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
            width: 100%;
            

        }
        
        #container img{
            width: 100%;
        }
        
        #container p{
            text-align: center;
           
        }
        #FAQ{
       
            background: #333;
        }
        #CONATAINER-1{
            
            display: grid;
            grid-template-columns: repeat(4,1fr);
            color: white;
            width: 80%;
            margin: auto;
            font-size: 10px;
            gap: 10px;
            text-align: start;
            padding-top: 10px;
        }
        #CONATAINER-1 img{
            width: 20%;
        }
        #CONATAINER-2{
          
            display: grid;
            grid-template-columns: repeat(4,1fr);
            color: white;
            width: 80%;
            margin: auto;
            font-size: 10px;
            gap: 10px;
            text-align:start;
            
        }
        #CONTAINER-2>div{
            font-weight: 4px;
        }
        #CONATAINER-2 img{
            width: 60%;
        }
        #FAQ{
            margin-top: 20px;
        }
       

        /* conatiner button */
        #container button{
            color:white;
          background-color: #333;
          display: block;
    margin: auto;
       cursor: pointer;
        }
        #nav {
            position: sticky;
            top:-9px;
            background: #fff;
        }